/* <!-- --------------------created Simran'---------start------------- */
#story-section .container {
    padding-bottom: 100px;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#story-section .container {
    max-width: 1200px;
    margin: 0 auto;
}
#story-section .story_section_text a {
    padding: 15px;
    font-weight: 900;
    text-decoration: none;
    color: aqua;
    border: 1px solid aqua;
}
#story-section .story_section_main {
    display: flex;
    justify-content: space-between;
}
#story-section img {
    width: 250px;
}
#story-section .story_section_img {
    width: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#story-section .story_section_text {
    width: 660px;
}
#story-section .story_section_inner_text {
    margin-bottom: 30px;
}
#story-section .story_section_inner_text p {
    color: rgb(112 111 120);
    font-size: 20px;
    line-height: 1.5;
}
/* -----------footer--------------- */
footer .container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
footer .main-footer {
    background: #333333;
    padding-bottom: 47px;
    background-image: url(images/bgk-footer.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}
footer .main-footer .mainfooter-img {
    display: flex;
    align-items: center;
}
footer .main-footer .mainfooter-img img {
    padding-right: 30px;
}
footer .main-footer .mainfooter-img-logo {
    padding-top: 80px;
}
footer .main-footer .mainfooter-img-logo .mainfooter-img p {
    font-size: 30px;
    margin: 0;
    color: aqua;
}

footer .main-footer .mainfooter-img-logo .mainfooter-font p {
    font-size: 18px;
    color: white;
    line-height: 1.5;
}
footer .main-footer .row {
    display: flex;
    justify-content: space-between;
}
footer .main-footer .row .col-6 {
    max-width: 31%;
}
footer .main-footer .mainfooter_nav_second {
    padding-top: 80px;
}
footer .main-footer .mainfooter_nav_second h5 {
    color: #fff;
     font-size: 20px;
     margin-top: 10px;
}
footer .main-footer .mainfooter_nav_main .mainfooter_nav_copyright {
    color: #fff;
    text-decoration: none;
    font-weight: 275;
    font-size: 18px;
    line-height: 24px;
}
footer .main-footer .mainfooter_nav_main ul {
    display: flex;
    justify-content: space-between;
}
footer .main-footer .mainfooter_nav_main ul {
    padding: 0;
}
footer .main-footer .mainfooter_nav_main ul li {
    margin-bottom: 20px;
    list-style-type: none;
}
footer .main-footer .mainfooter_nav_main {
    display: flex;
    justify-content: space-between;
}

footer .main-footer .mainfooter_nav_main .mainfooter_nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 275;
    font-size: 16px;
    line-height: 24px;
}
footer .main-footer .mainfooter_nav_main .mainfooter_nav ul li {
    padding-right:45px;
}
footer .main-footer .mainfooter_nav_second .mainfooter_nav_studio {
    display: flex;
  
}
footer .main-footer .mainfooter_nav_second .mainfooter_nav_studio .mainfooter_nav_img{
padding-right: 20px;
  
}
footer .main-footer .mainfooter_nav_second .mainfooter_nav_studio .mainfooter_nav_font p {
    margin: 0;
    color: #fff;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
}
footer .main-footer .row .main-footer-disk h5 {
  padding-top: 80px;
}
footer .main-footer .row .main-footer-disk h5 {
    color: #fff;
 margin-top: 10px;
    font-size: 20px;
}
footer .main-footer .row .main-footer-disk p {
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    width: 100%;
    max-width: 342px;
}
footer .main-footer .row .email {
    position: relative;
    margin-top: 34px;
    opacity: 0.7;
}
::-webkit-input-placeholder {
    /* Edge */
    color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: rgb(255, 255, 255);
}

footer .main-footer .row .email::placeholder {
    color: rgb(255, 255, 255);
}

footer .main-footer .row .email input {
    background: #ffffff;
    opacity: 0.9;
    border: 1px solid #fff;
    color: #000;
    padding: 9.5px;
    width: 65%;
    background: none;
    height: 28px;
}
footer .main-footer .row .email a {
    padding: 10px 30px;
    border: 0;
    font-family: HelveticaNowText-Medium;
    position: absolute;
    top: 0;
    right: 0%;
    background: #ffffff;
    opacity: 0.5;
}
footer .main-footer .row .mobile-social-icon {
    padding-top: 20px;
}
footer .main-footer .row .mobile-social-icon ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
}
footer .main-footer .row .mobile-social-icon ul li {
    list-style-type: none;
}
footer .main-footer .row .mobile-social-icon ul img {
    margin-right: 20px;
    opacity: 0.9;
    border-radius: 4px;
}
footer .main-footer .down-button {
    text-align: right;
    position: relative;
    z-index: 3;
    bottom: 415px;
}
footer .main-footer .down-button .top-scroll {
    cursor: pointer;
    margin-right: 0;
}
footer .main-footer .down-button .button-back {
    background: #feca00;
    border-radius: 4px;
    display: inline-block;
    width: 46px;
    height: 46px;
    padding-top: 12px;
    text-align: center;
}
/* <!-- --------------------created Simran'------------end---------- */
