h1 {
    color: red;
}
/* <!-- --------------------created Simran'---------start------------- */

#story-section .container{
    max-width: 1200px;
    }
    #story-section .story_section_text a{
        padding: 30px;
        border: 1px solid black;
    }
    /* <!-- --------------------created Simran'------------end---------- */